.animate-class {
  opacity: 1;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 0.5s ease;
}

.animate-class.animate {
  opacity: 0;
  transform: translateY(0);
}


.Hero-Section {
    
    width: 40%;
    font-size: 64px;    
    text-align: center;
    color: white;
}

.Hero-Section-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.Hero-Section span{
    color: #6E8AF5;
}
@media (max-width: 1024px) {
   .Hero-Section {
        width: 60%;
        font-size: 44px;
    }
    .Hero-Section-Container{
      
      margin-top: 4rem;
      margin-bottom: 4rem;
  }
  
}
@media (max-width: 520px){
    .Hero-Section {
      font-size: 30px;
      width: 70%;
      color: #132450;
    }
    .Hero-Section-Container {
      margin-top: 2rem;
      margin-bottom: 2rem;
  }
}
@media (min-width: 1440px){
   .Hero-Section {
    width: 45%;
    font-size: 70px;
    text-align: center;
    color: white;
}
   
}