.investment-container{
    display: flex;
    justify-content: center;
    margin-top: 6rem;   

}


.body-container-three h1{
    color: white ;
}
.body-container-three p{
    color: white !important;
    line-height: 30px;
}
.investment-text-container{
    width: 50%;
    display: flex;
    gap: 25px;
    flex-direction: column;
}



@media (max-width:520px){
    .investment-container {
        margin-top: 2rem;
    }
    .body-container-three p{
        color: #132450 !important;
        line-height: 30px;
        width: 100%;
    }
    .investment-text-container{
        width: 80% ;
        
    }
}