.body-container{
    background-color: white !important;
    
}


#why-choose-us .bodyContainer h1{
    color: #132450  ;
}
#about-us .bodyContainer h1{
  color: #132450  ;
}
.bodyContainer p{
    color: #132450;
}
.text-container {
    width: 41%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    color: white;

}

.body-container {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 13rem;
    margin-top: 2rem;
  }

  .body-container .image-container img{
    transform: rotate(0);
  }

  .body-container-two {
    display: flex;
    flex-direction: row-reverse ;
    align-items: center;
    justify-content: center;
    gap: 13rem;
    margin-top: 8rem;
  }
  .body-container-two .image-container img{
    transform: rotate(0);
  }


  .main-body{
    background-color: white;
  }
  .svg-container-two{
    position: absolute;
    left: 71%;
    top: 10%;
    transform: translate(-38%, -21%);
    width: 44rem;
    height: 17rem;
  }

.buttonStyle{
    background-color: #132450;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  @media (max-width: 1024px){
    .buttonStyle{
      background-color: #132450;
      color: white;
      border: none;
      text-align: center;
      text-decoration: none;
      display: flex;
      font-size: 12px;
      cursor: pointer;
      width: 12rem;
      height: 39px;
      justify-content: center;
      align-items: center;
    }
  }