.Header-Container{
    background-color: #132450;
    height: 55rem;
}
.svg-container{
    position: absolute;
    left: 71%;
    top: 50%;
    transform: translate(-38%, -21%);
    width: 44rem;
    height: 17rem;
}
.body-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13rem;
    background-color: #132450 !important;
  }