.image-name img{
    width: 40px;
    height: 40px;
    border-radius: 50% ;

}
.text-area p {
    color: #132450;
}

.image-name{
    display: flex;
    align-items: center;
    gap: 20px;
}
.image-name h4{
        color: #132450;
}
.image-name p{
    color:#132450;
}

.comment-modal{
    width: 24rem;
    height: 22rem;
    background-color: #D7F2FF;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    
}