.image-name img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
    mix-blend-mode: luminosity;/* Creates a circle if width and height are equal */
}

.text-area p {
    color: #132450;
}

.image-name{
    display: flex;
    align-items: center;
    gap: 20px;
}
.image-name h4{
        color: #132450;
}
.image-name p{
    color:#132450;
}

.comment-modal{
    width: 24rem;
    height: 22rem;
    background-color: #D7F2FF;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    
}
@media (max-width: 1024px){
    .comment-modal{
        width: 18rem;
        height: 20rem;
        background-color: #D7F2FF;
        padding: 1.5rem;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 1em;
    
    }
    .text-area p{
        color:#132450;
        font-size: 12px;
    }
    .comment-body-container h1{
        font-size: 24px !important;
        width: 62% !important;
    }

    .image-name h4{
        font-size: 13px;

    }
    .image-name p{
        font-size: 12px;
        font-weight: 500;
    }
    
    
}