.article-modal{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}
.article-modal img{
    width: 300px;
    border-radius: 10px ;
    mix-blend-mode: luminosity;
}
.article-modal p{
    font-size: 13px;
    color: white;
}

.article-modal h4{
    font-size: 15px;
    line-height: 27px;
    color: white;
}