.comment-body{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 5rem;

}

.comment-body-container{
    display: flex;
    flex-direction: column;
    
}
.comment-body-container h1{
    color: #132451;
    text-align: center;
    width: 20%;
    font-size: 32px;
    margin-top: 5rem;
}

.comment-body-text{
    display: flex;
    justify-content: center;

}
@media (max-width: 1024px){
    .comment-body{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        PADDING: 3REM;
        justify-items: center;
        margin-top: 0rem;
    }
}